@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #01355f;
    height: 100vh;
}
header{
    background-color: #02243f;
    padding: 10px;
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.438);
}
h1{
    color: white;
    text-align: center;
}
main{
    padding: 40px;
}
section{
    background: white;
    color: black;
    width: 80vw;
    padding: 10px;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}