@charset "UTF-8";
@keyframes fadein_h1{
    from{
        transform: translateY(-50px);
        opacity: 0;
    }to{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes fadein_p{
    from{
        transform: translateX(-50px);
        opacity: 0;
    }to{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes fadein_img{
    from{
        transform: translateX(100px) rotate(90deg);
    }
    to{
    transform: translateX(0px) rotate(0deg);
    }
}
@keyframes fadein_ul{
    from{
        transform: translateX(-100px);
        opacity: 0;
    }to{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes entrar_eixo{
    from{
        color: black;
    }to{
        color: white;
    }
}
@keyframes sair_eixo{
    from{
        color: white;
    }to{
        color: black;
    }
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body, html{
    background-color: black;
    background-image: url(../imagens/fundo.png);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
main{
    display: flex;
    align-items: center;
    height: 95vh;
    gap: 50px;
    justify-content: center;
    flex-flow: row wrap;
}
.planetas{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#saturno{
    width: 200px;
}
.planetas_link{
    transition: .4s;
}
.planetas_link:hover{
    transform: scale(1.7) rotate(45deg);
    margin: 10px;
    transition: .4 ease-in-out;
}
#seta{
    font-size: 3em;
    margin: 20px;
    color: white;
}
header{
    display: inline-block;
    text-align: center;
    width: 100vw;
    margin-top: -50px;
}
h1{
    font-size: 3em;
    animation: fadein_h1 2s;
}
article{
    margin: 20px;
    margin-left: 150px;
    margin-top: 50px;
    font-size: 1.2em;

}
article > p{
    width: 40vw;
    animation: fadein_p 2s;
    text-align: justify;
    text-indent: 20px;
    margin-bottom: 10px;
}
article > ul{
    margin: 20px;
    animation: fadein_ul 3s;
}
.planeta{
    width: 400px;
    margin-right: 50px;
    border-radius: 50%;
    animation: fadein_img 1s;
    transition: .2;
}
#seta:hover{
    transition: .4s;
    transform: scale(1.2);
    color: rgb(219, 219, 219);
}
.direita{
    float: right;
}
p#eixo{
    text-align: center;
    margin-top: 20px;
    font-size: 1.5em;
    color: black;
}
.ativa{
    animation: entrar_eixo 1s;
    color: white;
}
.inativa{
    animation: sair_eixo 1s;
    color: black;
}
.imagem_ativa{
    transition: .2s;
    transform: scale(1.1) rotate(177deg);
}
.imagem_inativa{
    transition: .2s;
    transform: scale(1);
}
#escrita_venus{
    font-size: 1.1em;
}
